<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exodus.updater"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECOVERY"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Main"
        android:label="@string/app_name"
        android:name="com.exodus.updater.UpdateApplication"
        android:supportsRtl="true">

        <service android:name="com.exodus.updater.service.ExodusDashClockExtension"
            android:icon="@drawable/ic_extension_cid"
            android:label="@string/extension_label"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1" />
            <meta-data android:name="description"
                android:value="@string/extension_description" />
        </service>

        <activity
            android:name=".UpdatesSettings"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:label="@string/display_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GappsCheckerActivity"
            android:label="@string/gappschecker_display_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="com.exodus.updater.GappsCheckerActivity" />
            </intent-filter>
        </activity>

        <service android:name="com.exodus.updater.service.UpdateCheckService" />

        <receiver android:name="com.exodus.updater.receiver.UpdateCheckReceiver"
            android:label="@string/updatecheckreceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.CHECK_FOR_UPDATES" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.exodus.updater.receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="com.exodus.exodusupdater.action.START_DOWNLOAD"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.exodus.updater.receiver.NotificationClickReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.exodus.updater.receiver.CheckFinishReceiver">
            <intent-filter>
                <action android:name="com.exodus.exodusupdater.action.UPDATE_CHECK_FINISHED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
